.device {
   // .device__inner
   &__inner {
      display: flex;
      @include adaptiveValue("padding-bottom", 124, 92);
      @media (max-width: $pc) {
         flex-direction: column;
      }
   }
   // .device__column
   &__column {
      padding-top: 131px;
   }
   // .device__column-review
   &__column-review {
      flex: 0 0 percent(573, 1550);
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         border-radius: 50%;
         min-width: 804px;
         min-height: 804px;
         background-image: linear-gradient(131.3deg, #15b68e 8.56%, #93e736 87.99%);
         z-index: -1;
      }
      &::after {
         content: "";
         position: absolute;
         top: percent(35, 804);
         right: 0;
         min-width: 833px;
         min-height: 833px;
         transform: translate(percent(35, 804), 0);
         background-image: url("../img/Ellipse-white.png");
         background-repeat: no-repeat;
         background-size: cover;
         transform: rotate(90deg);
         z-index: -1;
      }
      @media (max-width: $pc) {
         &::before {
            right: 50%;
            transform: translateX(50%) rotate(90deg);
            background-image: linear-gradient(104.37deg, #15b68e 15.52%, #93e736 49.72%, rgba(147, 231, 54, 0) 86.17%);
         }
         &::after {
            top: 10%;
            right: 50%;
            transform: translateX(50%);
         }
      }
   }
   // // .device__review-icons
   &__review-icons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 481px;
      height: 542px;
      transform: translate(-(percent(209, 804)), percent(330, 804));
      @media (max-width: 1920px) {
         left: 10%;
      }
      @media (max-width: $pc) {
         display: none;
      }
   }
   // .device__review-icons-inner
   &__review-icons-inner {
      position: relative;
      background-image: url("../img/Ellipse-white.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      z-index: 2;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         background-image: url("../img/horn.png");
         transform: scaleX(-1) translateY(50%);
         width: 248px;
         height: 237px;
         background-size: contain;
         z-index: 2;
      }
      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         background-image: url("../img/heart.png");
         background-repeat: no-repeat;
         width: 161px;
         height: 127px;
         background-size: contain;
         z-index: 2;
      }
   }
   // .device__review-inner
   &__review-inner {
      max-width: percent(483, 573);
      @media (max-width: $pc) {
         max-width: 550px;
         margin: 0 auto;
      }
   }
   // .device__title
   &__title {
      font-size: 34px;
      @include adaptiveValue("font-size", 34, 18);
      line-height: calc(44 / 34 * 100%);
      color: #ffffff;
      font-weight: 500;
      @include adaptiveValue("margin-bottom", 30, 16);
   }
   // .device__text
   &__text {
   }

   // .device__column-items
   &__column-items {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 76px;
   }
   // .device__item
   &__item {
      flex: 0 0 50%;
      padding: 0 50px;
      text-align: center;
   }
   // .device__item-inner
   &__item-inner {
   }
   // .device__item-img
   &__item-img {
      height: 247px;
      img {
         max-height: 100%;
         width: auto;
      }
      @media (max-width: $mobile) {
         height: 232px;
      }
   }
   // .device__item-text
   &__item-text {
      font-weight: 500;
   }
   // .device__review-icon-mob
   &__review-icon-mob {
      position: absolute;
      top: 0;
      right: 50%;
      width: 120px;
      height: 100px;
      transform: translate(85%, -40%) rotate(-28deg);
      @include adaptiveValue("width", 150, 120);
      @include adaptiveValue("heigth", 130, 80);
      object-fit: contain;
      display: none;
      @media (max-width: $pc) {
         display: block;
      }
   }
}
