@-webkit-keyframes flip {
   0% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
      transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
   }
   40% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
      transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
   }
   50% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
      transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
   }
   80% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
   }
   to {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
      transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
   }
}
@keyframes flip {
   0% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
      transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
   }
   40% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
      transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
   }
   50% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
      transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
   }
   80% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
   }
   to {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
      transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
   }
}
.animate__animated.animate__flip {
   -webkit-animation-name: flip;
   animation-name: flip;
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}
