@-webkit-keyframes rotateInDownRight {
   0% {
      opacity: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
@keyframes rotateInDownRight {
   0% {
      opacity: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
.animate__rotateInDownRight {
   -webkit-animation-name: rotateInDownRight;
   animation-name: rotateInDownRight;
   -webkit-transform-origin: right bottom;
   transform-origin: right bottom;
}
