@-webkit-keyframes rotateIn {
   0% {
      opacity: 0;
      -webkit-transform: rotate(-200deg);
      transform: rotate(-200deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
@keyframes rotateIn {
   0% {
      opacity: 0;
      -webkit-transform: rotate(-200deg);
      transform: rotate(-200deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
.animate__rotateIn {
   -webkit-animation-name: rotateIn;
   animation-name: rotateIn;
   -webkit-transform-origin: center;
   transform-origin: center;
}
