@-webkit-keyframes rotateOut {
   0% {
      opacity: 1;
   }
   to {
      opacity: 0;
      -webkit-transform: rotate(200deg);
      transform: rotate(200deg);
   }
}
@keyframes rotateOut {
   0% {
      opacity: 1;
   }
   to {
      opacity: 0;
      -webkit-transform: rotate(200deg);
      transform: rotate(200deg);
   }
}
.animate__rotateOut {
   -webkit-animation-name: rotateOut;
   animation-name: rotateOut;
   -webkit-transform-origin: center;
   transform-origin: center;
}
