@-webkit-keyframes rotateInUpRight {
   0% {
      opacity: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
@keyframes rotateInUpRight {
   0% {
      opacity: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
.animate__rotateInUpRight {
   -webkit-animation-name: rotateInUpRight;
   animation-name: rotateInUpRight;
   -webkit-transform-origin: right bottom;
   transform-origin: right bottom;
}
