@-webkit-keyframes rotateInUpLeft {
   0% {
      opacity: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
@keyframes rotateInUpLeft {
   0% {
      opacity: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
   }
   to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
.animate__rotateInUpLeft {
   -webkit-animation-name: rotateInUpLeft;
   animation-name: rotateInUpLeft;
   -webkit-transform-origin: left bottom;
   transform-origin: left bottom;
}
