@-webkit-keyframes slideOutUp {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
   to {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: hidden;
   }
}
@keyframes slideOutUp {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
   to {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: hidden;
   }
}
.animate__slideOutUp {
   -webkit-animation-name: slideOutUp;
   animation-name: slideOutUp;
}
