@-webkit-keyframes slideInUp {
   0% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
   }
   to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
@keyframes slideInUp {
   0% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
   }
   to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}
.animate__slideInUp {
   -webkit-animation-name: slideInUp;
   animation-name: slideInUp;
}
